.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.viz-biPartite-subBar {
    shape-rendering: crispEdges;
}
.viz-biPartite-mainBar rect {
    fill-opacity: 0;
    stroke-width: 0.5px;
    stroke: rgb(0, 0, 0);
    stroke-opacity: 0;
}
.viz-biPartite-mainBar .perc {
    fill: white;
    text-anchor: middle;
    font-size: 12px;
}

.viz-biPartite-mainBar .key {
    fill: black;
    text-anchor: end;
    font-size: 10px;
}
